body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

header {
    font-size: x-large;
    font-weight: 700;
    margin-top: 1em;
}

code {
    background-color: rgb(185, 202, 219);
    padding: 1em;
    border-radius: 3px;
    margin-left: 1em;
    margin-bottom: .5em;
}

#navbar {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

main {
    margin-left: 260px;
    padding: 0px 10px;
}

nav ul {
    list-style: none;
}

#navbar a {
    text-decoration: none;
    font-size: larger;    
    margin: 1em;
    color: inherit
}

#navbar a:hover {
    color: teal;
    font-weight: 700;
}

@media only screen and (max-width: 800px) {
    #navbar  {
        position: relative;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 200px;
    }
    
}